// Custom Modules
include "/home/damian/.config/niri/modules/input.kdl"
include "/home/damian/.config/niri/modules/layout.kdl"
include "/home/damian/.config/niri/modules/general.kdl"
include "/home/damian/.config/niri/modules/windowrules.kdl"
include "/home/damian/.config/niri/modules/keybinds.kdl"

// DankMaterialShell
include optional=true "/home/damian/.config/niri/dms/cursor.kdl"
include optional=true "/home/damian/.config/niri/dms/outputs.kdl"
include optional=true "/home/damian/.config/niri/dms/windowrules.kdl"
include optional=true "/home/damian/.config/niri/dms/binds.kdl"
include optional=true "/home/damian/.config/niri/dms/colors.kdl"
include optional=true "/home/damian/.config/niri/dms/layout.kdl"
include optional=true "/home/damian/.config/niri/dms/alttab.kdl"
